.planner-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

.planner {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: #557824;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

th, td {
  border: 2px solid #557824;
  padding: 10px;
  text-align: left;


}

th {
  background-color: #f4f4f4;
}
td{

  padding: 10px;
  text-align: left;
  color: #2c430d;

}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 8px 16px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.planner-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilos para las celdas de los días de la semana */
.green {
  background-color: #82AA33;


}

.light-green {
  background-color: #c7cfaa;
}
.planner-container h1{
  font-size:x-large;
  font-style: initial;
  color: #557824;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.header-titles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilo para el encabezado de "Editar Fechas" con el SVG */
.header-edit-dates {
  display: flex;
  align-items: center;

  gap: 0.1px;
  margin-left: auto; /* Alinea a la derecha */
}
.header-titles h2 {
  margin: 0 30px; /* Añade espacio horizontal entre Día y Recetas */
  font-size:medium;
  font-style: initial;
  color: #557824;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.header-recipes {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-recipes image{
  display: flex;
  align-items: center;
  gap: 5px;
}
