footer{
font-family:'Courier New', Courier, monospace;
display: flex;

}
#verticle-line
{
width: 2px;
height: 150px;
background-color: white;
}
h2{
  font-family: Arial, sans-serif;
  font-weight: 100;


}
p
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: x-large;
  font-style: normal;
}
.uppercase{
  text-transform: uppercase;
}

